xml-resources/web-service-references/GestionService/wsdl/172.26.100.52_8080/WebConnector/GestionService.wsdl

<!--
 Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown.
-->
<!--
 Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown.
-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="GestionService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://xml.netbeans.org/schema/gestion" schemaLocation="http://62.15.232.241:9090/WebConnector/GestionService?xsd=1"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://xml.netbeans.org/schema/comun" schemaLocation="http://62.15.232.241:9090/WebConnector/GestionService?xsd=2"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://ws/" schemaLocation="http://62.15.232.241:9090/WebConnector/GestionService?xsd=3"/>
        </xsd:schema>
    </types>
    <message name="getPedidosPendienteCliente">
        <part name="parameters" element="tns:getPedidosPendienteCliente"/>
    </message>
    <message name="getPedidosPendienteClienteResponse">
        <part name="parameters" element="tns:getPedidosPendienteClienteResponse"/>
    </message>
    <message name="setPedidoWeb">
        <part name="parameters" element="tns:setPedidoWeb"/>
    </message>
    <message name="setPedidoWebResponse">
        <part name="parameters" element="tns:setPedidoWebResponse"/>
    </message>
    <message name="getPrecioArticulo">
        <part name="parameters" element="tns:getPrecioArticulo"/>
    </message>
    <message name="getPrecioArticuloResponse">
        <part name="parameters" element="tns:getPrecioArticuloResponse"/>
    </message>
    <message name="setPedido">
        <part name="parameters" element="tns:setPedido"/>
    </message>
    <message name="setPedidoResponse">
        <part name="parameters" element="tns:setPedidoResponse"/>
    </message>
    <message name="getPedido">
        <part name="parameters" element="tns:getPedido"/>
    </message>
    <message name="getPedidoResponse">
        <part name="parameters" element="tns:getPedidoResponse"/>
    </message>
    <message name="setDocumento">
        <part name="parameters" element="tns:setDocumento"/>
    </message>
    <message name="setDocumentoResponse">
        <part name="parameters" element="tns:setDocumentoResponse"/>
    </message>
    <message name="getDocumento">
        <part name="parameters" element="tns:getDocumento"/>
    </message>
    <message name="getDocumentoResponse">
        <part name="parameters" element="tns:getDocumentoResponse"/>
    </message>
    <message name="getPedidosAgenteFecha">
        <part name="parameters" element="tns:getPedidosAgenteFecha"/>
    </message>
    <message name="getPedidosAgenteFechaResponse">
        <part name="parameters" element="tns:getPedidosAgenteFechaResponse"/>
    </message>
    <message name="getDocumentoPdf">
        <part name="parameters" element="tns:getDocumentoPdf"/>
    </message>
    <message name="getDocumentoPdfResponse">
        <part name="parameters" element="tns:getDocumentoPdfResponse"/>
    </message>
    <message name="setPedidoWeb3">
        <part name="parameters" element="tns:setPedidoWeb3"/>
    </message>
    <message name="setPedidoWeb3Response">
        <part name="parameters" element="tns:setPedidoWeb3Response"/>
    </message>
    <message name="setPedidoWeb2">
        <part name="parameters" element="tns:setPedidoWeb2"/>
    </message>
    <message name="setPedidoWeb2Response">
        <part name="parameters" element="tns:setPedidoWeb2Response"/>
    </message>
    <portType name="Gestion">
        <operation name="getPedidosPendienteCliente">
            <input wsam:Action="http://ws/Gestion/getPedidosPendienteClienteRequest" message="tns:getPedidosPendienteCliente"/>
            <output wsam:Action="http://ws/Gestion/getPedidosPendienteClienteResponse" message="tns:getPedidosPendienteClienteResponse"/>
        </operation>
        <operation name="setPedidoWeb">
            <input wsam:Action="http://ws/Gestion/setPedidoWebRequest" message="tns:setPedidoWeb"/>
            <output wsam:Action="http://ws/Gestion/setPedidoWebResponse" message="tns:setPedidoWebResponse"/>
        </operation>
        <operation name="getPrecioArticulo">
            <input wsam:Action="http://ws/Gestion/getPrecioArticuloRequest" message="tns:getPrecioArticulo"/>
            <output wsam:Action="http://ws/Gestion/getPrecioArticuloResponse" message="tns:getPrecioArticuloResponse"/>
        </operation>
        <operation name="setPedido">
            <input wsam:Action="http://ws/Gestion/setPedidoRequest" message="tns:setPedido"/>
            <output wsam:Action="http://ws/Gestion/setPedidoResponse" message="tns:setPedidoResponse"/>
        </operation>
        <operation name="getPedido">
            <input wsam:Action="http://ws/Gestion/getPedidoRequest" message="tns:getPedido"/>
            <output wsam:Action="http://ws/Gestion/getPedidoResponse" message="tns:getPedidoResponse"/>
        </operation>
        <operation name="setDocumento">
            <input wsam:Action="http://ws/Gestion/setDocumentoRequest" message="tns:setDocumento"/>
            <output wsam:Action="http://ws/Gestion/setDocumentoResponse" message="tns:setDocumentoResponse"/>
        </operation>
        <operation name="getDocumento">
            <input wsam:Action="http://ws/Gestion/getDocumentoRequest" message="tns:getDocumento"/>
            <output wsam:Action="http://ws/Gestion/getDocumentoResponse" message="tns:getDocumentoResponse"/>
        </operation>
        <operation name="getPedidosAgenteFecha">
            <input wsam:Action="http://ws/Gestion/getPedidosAgenteFechaRequest" message="tns:getPedidosAgenteFecha"/>
            <output wsam:Action="http://ws/Gestion/getPedidosAgenteFechaResponse" message="tns:getPedidosAgenteFechaResponse"/>
        </operation>
        <operation name="getDocumentoPdf">
            <input wsam:Action="http://ws/Gestion/getDocumentoPdfRequest" message="tns:getDocumentoPdf"/>
            <output wsam:Action="http://ws/Gestion/getDocumentoPdfResponse" message="tns:getDocumentoPdfResponse"/>
        </operation>
        <operation name="setPedidoWeb3">
            <input wsam:Action="http://ws/Gestion/setPedidoWeb3Request" message="tns:setPedidoWeb3"/>
            <output wsam:Action="http://ws/Gestion/setPedidoWeb3Response" message="tns:setPedidoWeb3Response"/>
        </operation>
        <operation name="setPedidoWeb2">
            <input wsam:Action="http://ws/Gestion/setPedidoWeb2Request" message="tns:setPedidoWeb2"/>
            <output wsam:Action="http://ws/Gestion/setPedidoWeb2Response" message="tns:setPedidoWeb2Response"/>
        </operation>
    </portType>
    <binding name="GestionPortBinding" type="tns:Gestion">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getPedidosPendienteCliente">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="setPedidoWeb">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getPrecioArticulo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="setPedido">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getPedido">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="setDocumento">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getDocumento">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getPedidosAgenteFecha">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getDocumentoPdf">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="setPedidoWeb3">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="setPedidoWeb2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="GestionService">
        <port name="GestionPort" binding="tns:GestionPortBinding">
            <soap:address location="http://62.15.232.241:9090/WebConnector/GestionService"/>
        </port>
    </service>
</definitions>